<div class="row justify-content-center">
    <div class="col-8">
        <div *ngIf="movie">
            <h2><span>Movie</span> {{movie.id}}</h2>
            <hr>
            <jhi-alert-error></jhi-alert-error>
            <dl class="row-md jh-entity-details">
                <dt><span>Title</span></dt>
                <dd>
                    <span>{{movie.title}}</span>
                </dd>
                <dt><span>Id</span></dt>
                <dd>
                    <span *ngFor="let id of movie.ids; let last = last">
                        <a [routerLink]="['/keyword', id?.id, 'view' ]">{{id.id}}</a>{{last ? '' : ', '}}
                    </span>
                </dd>
            </dl>

            <button type="submit"
                    (click)="previousState()"
                    class="btn btn-info">
                <fa-icon [icon]="'arrow-left'"></fa-icon>&nbsp;<span> Back</span>
            </button>

            <button type="button"
                    [routerLink]="['/movie', movie.id, 'edit']"
                    class="btn btn-primary">
                <fa-icon [icon]="'pencil-alt'"></fa-icon>&nbsp;<span> Edit</span>
            </button>
        </div>
    </div>
</div>
